{% extends 'index.html' %}

{% block content %}
<div class="admin-form-container">
    <div class="form-header">
        <h2>Admin Panel: Add New Book</h2>
        <p>Fill out the details below to add a book to the library system.</p>
    </div>

    <form method="POST" enctype="multipart/form-data" class="admin-form">
        {% csrf_token %}
        
        <div class="form-fields">
            {{ form.as_p }}
        </div>

        <div class="form-actions">
            <button type="submit" class="btn-submit">Save & Publish Book</button>
            <a href="#" class="btn-cancel">Cancel</a>
        </div>
    </form>
    {{msg}}
</div>
{% endblock %}